{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- meta http-equiv="refresh" content="60"-->

    <title>Carp Diem - Monitoring of Asian Carp Spawning</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'kelp/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'kelp/css/chart1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'kelp/css/chart2.css' %}" />
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!--     <link href="css/chart1.css" rel="stylesheet">
    <link href="css/chart2.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'kelp/css/agency.css' %}" />
<!--     <link href="css/agency.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'kelp/font-awesome/css/font-awesome.min.css' %}" />
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Carp Diem</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About Project</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map">Spawning Sites Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#selection">Monitoring Data</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Carp Diem</div>
                <div class="intro-heading">Monitoring of Asian Carp Spawning</div>
                <a href="#services" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>
    
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Real-time Risk Analysis of Asian Carps Invasion</h2>
                    <h3 class="section-subheading text-muted" style="width:800px;margin:auto;text-align:left;">This application allows user to determine the most high risk areas to sample and the times of years during which these areas should be sampled using online real-time temperature and flow data. This application could be used by field staff and managers to determine when Asian carps would be entering individual streams to spawn each summer. Data of Asian carp provided on this application provide both an elevated risk of reproduction and an opportunity to control and remove large portions of an invading population.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-15">
                    <span class="fa-stack fa-5x">
                        <!--i class="fa fa-circle fa-stack-2x text-primary"></i-->
                        <img alt="" class="img-responsive img-circle" src="/static/kelp/img/services/serviceCarp.jpg" style="height:140px;width:140px;">
                    </span>
                    <h4 class="service-heading">About Asian Carps and Threats</h4>
                    <p class="text-muted" style="width:800px;margin:auto;text-align:left;">The term “Asian carps” collectively refers to four species of carps: Bighead, Silver, Grass and Black carps. All are members of the cyprinid family, which includes carps and several varieties of minnows.<br/> <br/>
											Observers and researchers have witnessed the expansion of Asian carps through the waterways of the U.S. and identified the physical, ecological, and socio-economic threats these fishes pose should they successfully reach the Great Lakes.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Map Section -->
    <section id="map">
        <div class="container">
        	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Map</h2>
                    <h3 class="section-subheading text-muted">Map of spawning sites</h3>
                </div>
            </div>
            <div class="row text-center">
				<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
					<div style='overflow:hidden;height:550px;width:1000px;margin:0 auto;'>
					<div id='gmap_canvas' style='height:550px;width:1000px;'></div>
					<div><small><a href="http://embedgooglemaps.com">
														embed google maps							
					</a></small></div>
					<div><small><a href="http://www.autohuren.world/locaties/amsterdam/">auto huren amsterdam</a></small></div>
					<style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
					<script type='text/javascript'>
						function init_map(){
							var myOptions = {zoom:10,center:new google.maps.LatLng(43.85261119523538,-79.42575632148434),mapTypeId:google.maps.MapTypeId.TERRAIN};
							map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
							marker1 = new google.maps.Marker({map: map,position: new google.maps.LatLng(43.793,-79.472), label:'D'});
							marker2 = new google.maps.Marker({map: map,position: new google.maps.LatLng(43.722,-79.722), label:'M', icon:"{% static 'kelp/img/markers/green_MarkerM.png' %}"});
							marker3 = new google.maps.Marker({map: map,position: new google.maps.LatLng(43.824,-79.075), label:'K', icon:"{% static 'kelp/img/markers/green_MarkerK.png' %}", opacity:1.0});
							google.maps.event.addListener(marker1, 'click', function(){infowindow.open(map,marker1);});
							google.maps.event.addListener(marker2, 'click', function(){infowindow.open(map,marker2);});
							google.maps.event.addListener(marker3, 'click', function(){infowindow.open(map,marker3);});
						}
					google.maps.event.addDomListener(window, 'load', init_map);
				</script>
			</div>
        </div>
    </section>
    <!-- Selection Section -->
    <section id="selection">
        <div class="container">
		    <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Select Carp Species and Spawning Place</h2>
                </div>
            </div>
			<table width=100%>
				<tr>
					<td align="center">
						<b>Carp Species</b>
						<select style="width:250px;">
						  <option value="station1">Spring Creek North</option>
						  <option value="station1">Don at Glenshields</option>
						  <option value="station1">Krosno Creek</option>
						</select>
					</td>
					<td align="center">
						<b>Spawning Site</b>
						<select style="width:250px;">
						  <option value="silvercarp">Silver Carp</option>
						  <option value="silvercarp">Grass Carp</option>
						  <option value="silvercarp">Black Carp</option>
						  <option value="silvercarp">Bighead Carp</option>
						</select>
					</td>
				</tr>
			</table>
        </div>
        
        <div class="container" id="chart0container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">GDD</h3>
                </div>
            </div>
        </div>
		<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
		<script>

			var margin = {top: 20, right: 40, bottom: 30, left: 40},
					width = 960 - margin.left - margin.right,
					height = 550 - margin.top - margin.bottom;

				var x = d3.scale.ordinal()
					.rangeRoundBands([0, width], .1);

				var y = d3.scale.linear()
					.range([height, 0]);
		
				var y1 = d3.scale.linear()
					.range([height, 0]);

				var xAxis = d3.svg.axis()
					.scale(x)
					.orient("bottom");

				var yAxis = d3.svg.axis()
					.scale(y)
					.orient("left");
			
				var yAxisRight = d3.svg.axis()
					.scale(y1)
					.orient("right");
					// .ticks(5); 

				var svg0 = d3.select("#chart0container").append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.attr("style","display:block;margin:auto;")
				  .append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
			
				var line0 = d3.svg.line()
						.x(function(d) { return ( x(d.date) ); })
						.y(function(d) { return y1(950); });
						
				var line1 = d3.svg.line()
						.x(function(d) { return ( x(d.date) ); })
						.y(function(d) { return y1(600); });
						
				var line2 = d3.svg.line()
						.interpolate("basis") 
						.x(function(d) { return ( x(d.date) ); })
						.y(function(d) { return y(d.temperature); });

				d3.tsv("{% static 'kelp/data/data1.tsv' %}", type, function(error, data) {
				  if (error) throw error;

				  x.domain(data.map(function(d) { return d.date; }));
				  y.domain([0, d3.max(data, function(d) { return (d.temperature+10); })]);
				  y1.domain([0, d3.max(data, function(d) { return 1000; })]);

				  svg0.append("g")
					  .attr("class", "x axis")
					  .attr("transform", "translate(0," + height + ")")
					  .call(xAxis)
					.append("text")
					  .style("text-anchor", "end")
					  .attr("x", 450)
					  .attr("dy", "2.65em")
					  .text("Date");

					svg0.append("g")
					  .attr("class", "y axis")
					  .call(yAxis)
					.append("text")
					  .attr("transform", "rotate(-90)")
					  .attr("y", 6)
					  .attr("dy", ".71em")
					  .style("text-anchor", "end")
					  .text("Temperature");
			  
					svg0.append("g")				
						.attr("class", "y axis")	
						.attr("transform", "translate(" + width + " ,0)")
						.style("fill", "red")		
						.call(yAxisRight);

				  /* svg0.selectAll(".bar")
					  .data(data)
					.enter().append("rect")
					  .attr("class", "bar")
					  .attr("x", function(d) { return x(d.date); })
					  .attr("width", x.rangeBand())
					  .attr("y", function(d) { return y(d.temperature); })
					  .attr("height", function(d) { return height - y(d.temperature); });
			  	*/
			  		
			  		
			
				
					svg0.append("path")
					  .datum(data)
					  .attr("class", "line")
					  .attr("style","stroke:red")
					  .attr("d", line0);
					  
					svg0.append("path")
					  .datum(data)
					  .attr("class", "line")
					  .attr("style","stroke:red")
					  .attr("d", line1);
					  
					svg0.append("path")
					  .datum(data)
					  .attr("class", "line")
					  .attr("style","stroke:black")					  
					  .attr("d", line2);
			  
			  
				});

				function type(d) {
				  d.temperature = +d.temperature;
				  return d;
				}

		</script>

        <div class="container" id="chart1container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Predicted Stream Length</h3>
                </div>
            </div>
        </div>
		<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
		<script>

			var margin = {top: 20, right: 20, bottom: 10, left: 40},
				width = 960 - margin.left - margin.right,
				height = 550 - margin.top - margin.bottom;

			var x = d3.scale.ordinal()
				.rangeRoundBands([0, width], .1);

			var y = d3.scale.linear()
				.range([height, 0]);

			var xAxis = d3.svg.axis()
				.scale(x)
				.orient("bottom");

			var yAxis = d3.svg.axis()
				.scale(y)
				.orient("left")
				.ticks(10, "%");

			var svg = d3.select("#chart1container").append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
				.attr("style","display:block;margin:auto;")
			  .append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			d3.tsv("{% static 'kelp/data/data.tsv' %}", type, function(error, data) {
			  if (error) throw error;

			  x.domain(data.map(function(d) { return d.letter; }));
			  y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

			  svg.append("g")
				  .attr("class", "x axis")
				  .attr("transform", "translate(0," + height + ")")
				  .call(xAxis);

			  svg.append("g")
				  .attr("class", "y axis")
				  .call(yAxis)
				.append("text")
				  .attr("transform", "rotate(-90)")
				  .attr("y", 6)
				  .attr("dy", ".71em")
				  .style("text-anchor", "end")
				  .text("Frequency");

			  svg.selectAll(".bar")
				  .data(data)
				.enter().append("rect")
				  .attr("class", "bar")
				  .attr("x", function(d) { return x(d.letter); })
				  .attr("width", x.rangeBand())
				  .attr("y", function(d) { return y(d.frequency); })
				  .attr("height", function(d) { return height - y(d.frequency); });
			});

			function type(d) {
			  d.frequency = +d.frequency;
			  return d;
			}

		</script>

        <div class="container" id="chart2container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Likelihood of Asian Carp Spawning</h3>
                </div>
            </div>
            <script>

				var margin = {top: 20, right: 40, bottom: 30, left: 40},
					width = 960 - margin.left - margin.right,
					height = 550 - margin.top - margin.bottom;

				var x = d3.scale.ordinal()
					.rangeRoundBands([0, width], .1);

				var y = d3.scale.linear()
					.range([height, 0]);
		
				var y1 = d3.scale.linear()
					.range([height, 0]);

				var xAxis = d3.svg.axis()
					.scale(x)
					.orient("bottom");

				var yAxis = d3.svg.axis()
					.scale(y)
					.orient("left");
			
				var yAxisRight = d3.svg.axis()
					.scale(y1)
					.orient("right");
					// .ticks(5); 

				var svg2 = d3.select("#chart2container").append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.attr("style","display:block;margin:auto;")
				  .append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
			
				var line = d3.svg.line()
						.x(function(d) { return ( x(d.date)+10 ); })
						.y(function(d) { return y1(d.temperature); });

				d3.tsv("{% static 'kelp/data/dateTemp.tsv' %}", type, function(error, data) {
				  if (error) throw error;

				  x.domain(data.map(function(d) { return d.date; }));
				  y.domain([0, d3.max(data, function(d) { return d.temperature; })]);
				  y1.domain([0, d3.max(data, function(d) { return d.temperature; })]);

				  svg2.append("g")
					  .attr("class", "x axis")
					  .attr("transform", "translate(0," + height + ")")
					  .call(xAxis)
					.append("text")
					  .style("text-anchor", "end")
					  .attr("x", 450)
					  .attr("dy", "2.65em")
					  .text("Date");

					svg2.append("g")
					  .attr("class", "y axis")
					  .call(yAxis)
					.append("text")
					  .attr("transform", "rotate(-90)")
					  .attr("y", 6)
					  .attr("dy", ".71em")
					  .style("text-anchor", "end")
					  .text("Temperature");
			  
					svg2.append("g")				
						.attr("class", "y axis")	
						.attr("transform", "translate(" + width + " ,0)")
						.style("fill", "red")		
						.call(yAxisRight);

				  svg2.selectAll(".bar")
					  .data(data)
					.enter().append("rect")
					  .attr("class", "bar")
					  .attr("x", function(d) { return x(d.date); })
					  .attr("width", x.rangeBand())
					  .attr("y", function(d) { return y(d.temperature); })
					  .attr("height", function(d) { return height - y(d.temperature); });
			  
			
				
					svg2.append("path")
					  .datum(data)
					  .attr("class", "line")
					  .attr("d", line);
			  
			  
				});

				function type(d) {
				  d.temperature = +d.temperature;
				  return d;
				}

			</script>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" style="width:20%">
                    <div class="team-member">
                        <img src="{% static 'kelp/img/team/evgeny.jpg' %}" class="img-responsive img-circle" alt="" style="height:180px;width:220px;">
                        <h4>Evgeny</h4>
                        <p class="text-muted">Lead QA</p>
                    </div>
                </div>
                <div class="col-sm-2" style="width:20%">
                    <div class="team-member">
                        <img src="{% static 'kelp/img/team/mehrnoosh.jpg' %}" class="img-responsive img-circle" alt="" style="height:180px;width:220px;">
                        <h4>Mehrnoosh</h4>
                        <p class="text-muted">Lead Developer</p>
                    </div>
                </div>
                <div class="col-sm-2" style="width:20%">
                    <div class="team-member">
                        <img src="{% static 'kelp/img/team/vivek.jpg' %}" class="img-responsive img-circle" alt="" style="height:180px;width:220px;">
                        <h4>Vivek</h4>
                        <p class="text-muted">Lead Designer</p>
                    </div>
                </div>
                <div class="col-sm-2" style="width:20%">
                    <div class="team-member">
                        <img src="{% static 'kelp/img/team/yunduz.jpg' %}" class="img-responsive img-circle" alt="" style="height:180px;width:220px;">
                        <h4>Yunduz</h4>
                        <p class="text-muted">Lead Developer</p>
                    </div>
                </div>
                <div class="col-sm-2" style="width:20%">
                    <div class="team-member">
                        <img src="{% static 'kelp/img/team/yawar.jpg' %}" class="img-responsive img-circle" alt="" style="height:180px;width:220px;">
                        <h4>Yawar</h4>
                        <p class="text-muted">Lead Data Scientist</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Fishackathon ><> 2016</span>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'kelp/js/jquery.js' %}"></script>
    <script src="{% static 'kelp/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'kelp/js/classie.js' %}"></script>
    <script src="{% static 'kelp/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'kelp/js/jqBootstrapValidation.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'kelp/js/agency.js' %}"></script>

</body>

</html>
